@keyframes redes {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(15px);
    }

    100% {
        transform: translateX(0);
    }

}

@keyframes reservar {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(30px);
    }

    100% {
        transform: translateX(0);
    }

}


.reservar {
    animation: reservar infinite 3s ease-in-out;
}

.icon {
    animation: redes infinite 3s ease-in-out;
}

.fc-icon {
    animation-delay: 1s;
}