* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "greatvibes";
    src: url(../assets/fonts/GreatVibes-Regular.ttf);
}

@font-face {
    font-family: "kaushanscript";
    src: url(../assets/fonts/KaushanScript-Regular.ttf);
}

.font-1 {
    font-family: map-get($tipografia,1);
    font-size: $fuente-rem-1;
}

.font-2 {
    font-family: map-get($tipografia,2);
    font-size: $fuente-rem-2;
}

.rem-h1 {
    font-family: map-get($tipografia,2);
    font-size: $fuente-rem-3;
}

.rem-p {
    font-size: $fuente-rem-4;
}

.color-yellow {
    color: $color-letra;
}