$fuente-rem-1: 6rem;
$fuente-rem-1-mobile: 2.2rem;
$fuente-rem-2: 3rem;
$fuente-rem-2-mobile: 1.7rem;
$fuente-rem-3: 5rem;
$fuente-rem-3-mobile: 0.5rem;
$fuente-rem-4: 1.5rem;
$color-letra: yellow;
$fondo-header: #ecd86a;
$altura-fondo: 70vh;
$altura-fondo-2: 50vh;



/*maps*/
$tipografia: (
    1 : "greatvibes",
    2 : "kaushanscript",
    )