/*maps*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overflow {
  overflow: hidden;
}

@font-face {
  font-family: "greatvibes";
  src: url(../assets/fonts/GreatVibes-Regular.ttf);
}
@font-face {
  font-family: "kaushanscript";
  src: url(../assets/fonts/KaushanScript-Regular.ttf);
}
.font-1 {
  font-family: "greatvibes";
  font-size: 6rem;
}

.font-2 {
  font-family: "kaushanscript";
  font-size: 3rem;
}

.rem-h1 {
  font-family: "kaushanscript";
  font-size: 5rem;
}

.rem-p {
  font-size: 1.5rem;
}

.color-yellow {
  color: yellow;
}

.color-black {
  color: black;
}

.bg-ecd {
  background-color: #ecd86a;
}

.bg-img {
  background-image: url(../assets/img/fondo-index.jpg);
  background-size: cover;
  height: 70vh;
}

.bg-img-1 {
  background-color: rgba(0, 0, 0, 0.529);
  height: 70vh;
  overflow: hidden;
}

.img-index {
  height: 500px;
}

.img-index2 {
  height: 400px;
}

.boton-reservar {
  color: black;
  text-decoration: none;
  background-color: #ecd86a;
  width: 20vw;
}

.boton-reservar:hover {
  color: black;
  background-color: yellow;
}

.iframe-footer {
  height: 300px;
  width: 500px;
}

.logo-footer {
  height: 200px;
  width: 250px;
}

.redes {
  flex-direction: column;
}

.icon-redes {
  height: 50px;
  width: 50px;
}

.icon-redes2 {
  height: 20px;
  width: 20px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .fondo-index-mobile {
    height: 50vh;
  }
  .h1-mobile {
    font-size: 2.2rem;
  }
  .h2-mobile {
    font-size: 1.7rem;
  }
  .p-mobile {
    font-size: 0.5rem;
  }
  .img-index {
    height: 300px;
  }
  .img-index-mobile {
    height: 170px;
    width: 300px;
  }
  .vid-mobile {
    height: 400px;
    width: 400px;
  }
  .li-mobile {
    display: flex;
    justify-content: center;
  }
  .w-mobile {
    width: 100vw;
  }
  .iframe-footer {
    height: 100px;
    width: 200px;
  }
  .logo-footer {
    height: 100px;
    width: 150px;
  }
  .redes {
    flex-direction: row;
  }
}
.section {
  height: 70vh;
  border: 3px solid green;
}
.section .img-section {
  width: 0px;
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
  transition: 0.5s ease;
}
.section .img-section:hover {
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .section {
    height: 300px;
  }
  .section .img-section {
    height: 300px;
  }
  .section .img-section:hover {
    width: 200px;
    opacity: 1;
    filter: contrast(120%);
  }
}
@keyframes redes {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes redes-mobile {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes reservar {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(30deg);
  }
  30% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(30deg);
  }
  60% {
    transform: rotateY(0deg);
  }
  75% {
    transform: rotateY(30deg);
  }
  85% {
    transform: rotateY(0deg);
  }
  90% {
    transform: rotateY(30deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
.reservar {
  animation: reservar infinite 3s ease-in-out;
}

.reservar-2 {
  animation-delay: 0.5s;
}

.reservar-3 {
  animation-delay: 1s;
}

.icon {
  animation: redes infinite 3s ease-in-out;
}

.fc-icon {
  animation-delay: 1s;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .icon-mobile {
    animation: redes-mobile infinite 3s ease-in-out;
  }
  .fc-icon {
    animation-delay: 1s;
  }
}/*# sourceMappingURL=estilo.css.map */